<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Component:</strong>
  <%= @type.component %>
</p>

<p>
  <strong>Html class:</strong>
  <%= @type.html_class %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
