<p id="notice"><%= notice %></p>

<h1>Field Values</h1>

<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
      <th>Display value</th>
      <th>Card</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @field_values.each do |field_value| %>
      <tr>
        <td><%= field_value.field %></td>
        <td><%= field_value.value %></td>
        <td><%= field_value.display_value %></td>
        <td><%= field_value.card %></td>
        <td><%= link_to 'Show', field_value %></td>
        <td><%= link_to 'Edit', edit_field_value_path(field_value) %></td>
        <td><%= link_to 'Destroy', field_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Field Value', new_field_value_path %>
