<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @field_value.field %>
</p>

<p>
  <strong>Value:</strong>
  <%= @field_value.value %>
</p>

<p>
  <strong>Display value:</strong>
  <%= @field_value.display_value %>
</p>

<p>
  <strong>Card:</strong>
  <%= @field_value.card %>
</p>

<%= link_to 'Edit', edit_field_value_path(@field_value) %> |
<%= link_to 'Back', field_values_path %>
