<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pipe.name %>
</p>

<p>
  <strong>Token:</strong>
  <%= @pipe.token %>
</p>

<p>
  <strong>Can edit:</strong>
  <%= @pipe.can_edit %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @pipe.organization %>
</p>

<%= link_to 'Edit', edit_pipe_path(@pipe) %> |
<%= link_to 'Back', pipes_path %>
