<p id="notice"><%= notice %></p>

<p>
  <strong>Phase:</strong>
  <%= @field.phase %>
</p>

<p>
  <strong>Label:</strong>
  <%= @field.label %>
</p>

<p>
  <strong>Default value:</strong>
  <%= @field.default_value %>
</p>

<p>
  <strong>Type:</strong>
  <%= @field.type %>
</p>

<p>
  <strong>Index:</strong>
  <%= @field.index %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
