<%= form_for(phase) do |f| %>
  <% if phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phase.errors.count, "error") %> prohibited this phase from being saved:</h2>

      <ul>
      <% phase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :pipe_id %>
    <%= f.text_field :pipe_id %>
  </div>

  <div class="field">
    <%= f.label :index %>
    <%= f.number_field :index %>
  </div>

  <div class="field">
    <%= f.label :can_edit %>
    <%= f.check_box :can_edit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
